/* utils.module.css */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:wght@100;300;400;700&display=swap');

/* Common styles for .moviesList */
.moviesList {
  list-style: none;
  padding: 0;
  display: grid;
  gap: 16px;
}

/* Responsive grid layout */
@media (min-width: 768px) {
  .moviesList {
    grid-template-columns: repeat(2, 1fr);
  }
  .loadMoreButton {
    padding: 13px 50px 13px;
  }
}

@media (min-width: 1024px) {
  .moviesList {
    grid-template-columns: repeat(4, 1fr);
  }
}

/* Shared styles for .movieItem and .movieDetails */
.movieItem,
.movieDetails {
  background-color: #fff;;
  color: #444;
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
  border: solid 1px black;
}

.movieItem {
  padding: 16px;
}

/* Responsive styles for movieDetails */

  .box {
    background-color: #444444;
    display: flex;
    align-items: center;
    justify-content: center;
    /* height: 376px; */
    width: 90%; 
    margin: 0 auto; 
  }
  
  .overlapGroup {
    display: flex;
    align-items: center;
    width: 100%; /* Ensure the container takes full width */
    background-color: white;
    color: #444;
    border: solid 1px black;
  }
  
  .imageContainer {
    flex-basis: 20%; /* Adjust the percentage for the image container */
  }
  
  .poster {
    height: 465px;
    border-right: solid;
    /* 376px; */
    
    /* width: 250px; */
  }
  
  .overlap {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-basis: 80%; /* Adjust the percentage for the text container */
    margin-left: 1rem;
  }
  
  .tagline {
    font-family: "Bebas Neue", Helvetica;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .title {
    font-family: "Bebas Neue", Helvetica;
    font-size: 48px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .overview,
  .runtime,
  .genres,
  .releaseDate {
    font-family: "Bebas Neue", sans-serif;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .textWrapper {
    font-family: "Bebas Neue", sans-serif;
    font-size: 20px;
  }
  
  .span {
    font-family: Roboto, sans-serif;
    font-weight: 300;
  }


@media (max-width: 767px) {
  .box {
    flex-direction: column; /* Change to a column layout */
    height: auto; /* Allow the height to adjust based on content */
  }

  .overlapGroup {
    flex-direction: column; /* Align items in a row for larger screens */

  }

  .imageContainer {
    flex-basis: 100%; /* Adjust the percentage for the image container */
  }
  .poster {
    height: 468px;
    border: solid;
    border-top: none;
    /* 376px; */
    
    /* width: 250px; */
  }
  .overlap {
    flex-basis: 100%; /* Adjust the percentage for the text container */
    margin-left: 0; /* Add some margin for spacing between image and text */
    align-items: center;
  }
}

/* Styles for .spanTitle */
.spanTitle {
  font-family: 'Bebas Neue', sans-serif;
  font-size: 3em;
  position: sticky;
  background-image: linear-gradient(#E9FF70, #E9FF70);
  background-size: 100% 10px;
  background-repeat: no-repeat;
  background-position: 100% 0%;
  transition: background-size 0.7s, background-position 0.5s ease-in-out;
}

/* Styles for .movieOverview */
.movieOverview {
  font-size: 14px;
  /* color: #ccc; */
  color: #444;
  margin: 0;
  text-align: start;
}

/* Styles for .movieRating */
.movieRating {
  margin: 0;
  font-family: 'Bebas Neue', serif;
  font-weight: 100;
}

/* Styles for .loadMoreButton and its hover effect */
.loadMoreButton {
  font-size: 16px;
  font-weight: 200;
  letter-spacing: 1px;
  padding: 13px 20px 13px;
  outline: 0;
  cursor: pointer;
  position: relative;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid black;
  user-select: none;
  touch-action: manipulation;
  z-index: 1;
}

.loadMoreButton:after {
  content: "";
  background-color: #E9FF70;
  width: 100%;
  z-index: -1;
  position: absolute;
  height: 100%;
  top: 7px;
  left: 7px;
  transition: 0.2s;
}

.loadMoreButton:hover:after {
  top: 0px;
  left: 0px;
}

/* Navigation styles */
.nav ul {
  list-style: none;
  display: flex;
  padding: 0;
}

/* Styles for navigation links */
.nav li {
  margin-right: 16px;
}

.nav li a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}

/* Hover effect for navigation links */
.nav li a:hover {
  color: #E9FF70; /* Gold color on hover */
}

.loadMoreButtonDiv {
  text-align: center;
}

/* Style for the modal content */
.modalContent {
  font-family: 'Bebas Neue', serif;
  font-size: 1.5rem;
  text-align: center;
  position: relative;
  background-color: #fefefe;
  margin: 3rem auto;
  padding: 1.1rem;
  border: none;
  max-width: 40%;
}

.modal {
  position: fixed;
  padding-top: 10rem;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0 0 0);
  background-color: rgba(0, 0, 0, 0.632);
  z-index: 999; 
}


/* Style for the label elements */
.inputStyle {
  display:block;
  font-family: 'Bebas Neue', serif;
  width: 100%;
  cursor: pointer;
  padding-top: 20px;
  font-size: 25px;
  margin-bottom: 1rem;
  border: solid 1px;
  border-top: none;
  border-left: none;
  border-right: none;
  outline: none;
}
.registration-label {
  position: relative;
}

.inputStyle:focus {
  border: solid 2px #E9FF70;
  background-color: #E9FF70;
  border-top: none;
  border-left: none;
  border-right: none;
}

@media (max-width: 767px) {
  .modalContent {
    min-width: 90%;
  }
}
.buttonHolder {
  display: flex;
  justify-content: space-evenly;
}