/* utils.module.css */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

/* Common styles for .moviesList */
.moviesList {
  list-style: none;
  padding: 0;
  display: grid;
  gap: 16px;
}

/* Responsive grid layout */
@media (min-width: 768px) {
  .moviesList {
    grid-template-columns: repeat(2, 1fr);
  }
  .loadMoreButton {
    padding: 13px 50px 13px;
  }
}

@media (min-width: 1024px) {
  .moviesList {
    grid-template-columns: repeat(4, 1fr);
  }
}

/* Shared styles for .movieItem and .movieDetails */
.movieItem,
.movieDetails {
  background-color: #444;
  color: #fff;
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
}

.movieItem {
  padding: 16px;
}

/* Responsive styles for .movieDetails */
@media (min-width: 768px) {
  .movieDetails {
    margin: 16px;
    flex-direction: row;
    text-align: start;
  }
}

/* Styles for .spanTitle */
.spanTitle {
  font-family: 'Bebas Neue', cursive;
  font-size: 3em;
  position: sticky;
  background-image: linear-gradient(#E9FF70, #E9FF70);
  background-size: 100% 10px;
  background-repeat: no-repeat;
  background-position: 100% 0%;
  transition: background-size 0.7s, background-position 0.5s ease-in-out;
}

/* Styles for .movieOverview */
.movieOverview {
  font-size: 14px;
  color: #ccc;
  margin: 0;
  text-align: start;
}

/* Styles for .movieRating */
.movieRating {
  margin: 0;
  font-family: 'Bebas Neue', serif;
  font-weight: 100;
}

/* Styles for .loadMoreButton and its hover effect */
.loadMoreButton {
  font-size: 16px;
  font-weight: 200;
  letter-spacing: 1px;
  padding: 13px 20px 13px;
  outline: 0;
  cursor: pointer;
  position: relative;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid black;
  user-select: none;
  touch-action: manipulation;
  z-index: 1;
}

.loadMoreButton:after {
  content: "";
  background-color: #E9FF70;
  width: 100%;
  z-index: -1;
  position: absolute;
  height: 100%;
  top: 7px;
  left: 7px;
  transition: 0.2s;
}

.loadMoreButton:hover:after {
  top: 0px;
  left: 0px;
}

/* Navigation styles */
.nav ul {
  list-style: none;
  display: flex;
  padding: 0;
}

/* Styles for navigation links */
.nav li {
  margin-right: 16px;
}

.nav li a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}

/* Hover effect for navigation links */
.nav li a:hover {
  color: #E9FF70; /* Gold color on hover */
}

.loadMoreButtonDiv {
  text-align: center;
}