/* Add a max-width to the container to prevent columns from exceeding the available width */
.container {
  max-width: 100%; 
  margin: 0 auto;
  /* padding: 0 16px; */
  background-color: #1C1C1C; /* Dark background color */
  /* color: #fff; White text color */
}

/* Define styles for individual column items (adjust width as needed) */
.main > div {
  background-color: #444; /* Adjust background color for individual items */
  padding: 16px;
  color: #fff;
}

.spanTitle {
  font-family: 'Bebas Neue', cursive;
  font-size: 3em;
  position: sticky;
  background-image: linear-gradient(#E9FF70, #E9FF70);
  background-size: 100% 10px;
  background-repeat: no-repeat;
  background-position: 100% 0%;
  transition: background-size 0.7s, background-position 0.5s ease-in-out;
}

.spanTitle:hover {
  background-size: 100% 100%;
  background-position: 0% 100%;
  transition: background-position 0.7s, background-size 0.5s ease-in-out;
}


/* Navigation styles */
.nav ul {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
  justify-content: space-around;
}

/* Style the <Link> component itself */
.nav li a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.nav li a:hover {
  color: #333;
}

.nav li.active {
  color: #E9FF70;
}

.nav li.active a {
  color: inherit !important;
}

.backToHome {
  margin-top: 2rem;
  color:#fff;
  text-align: center;
  font-family: 'Bebas Neue', serif;
}
